body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}

.login-box {
    width: 400px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.50);
    text-align: center;
}

.login-box h1 {
    margin: 0 0 30px;
    font-size: 28px;
    color: #333;
}

/* container for each input + label */
.input-group {
    position: relative;
    margin: 40px auto;
    width: 300px;
}

.input-group input {
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

.input-group label {
    position: absolute;
    left: 5px;
    top: 10px;
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease all;
}

/* when input is focused or has text */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 0;
    font-size: 12px;
    color: #333;
}

.login-box button {
    width: 300px;
    padding: 12px;
    background: #C9D2D7;
    border: 2px solid #C4C4C4;
    border-radius: 28px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    transition: background 0.3s;
}

.login-box button:hover {
    background: #7D8488;
    color: white;
    transition: all 0.3s ease; 
}

.input-group input:hover {
    width: 330px;
    border-bottom: 2px solid rgba(51, 51, 51,0.50);
    transition: all 0.3s ease; 
}

/* make the label emphasize on hover */
.input-group input:hover + label {
    color: #333;       
    font-weight: bold; 
    transform: translateY(-3px); 
    transition: all 0.3s ease;
}

.error {
    margin-top: 15px;
    color: #ff0000;       
    font-size: 15px;
    font-weight: bold;    
}
